body {
    padding: 0;
    font-size: 62.5%;
    background: #283747;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header {
    width: 100%;
    text-align: center;
    font-size: 9rem;
}


.img-cont {
    width: 20rem;
    margin: 0 auto;
    color: white;
}

/* seaerch Box */


.fa-search {
    height: 4rem;
    width: 4rem;
}

input {
    min-width: 20rem;
    height: 3rem;
    border-radius: 5rem;
    padding: 1rem;
}

.btn {
    border: 1px solid black;
    text-decoration: none;
    width: 5rem;
    padding: .7rem 1rem;
    color: black;
}

.btn:hover {
    color: white;
    background-color: #000428;
}

/* end of seach of box */
#cardId {

    width: 80vw;
    height: 100vh;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
    min-height: 40%;
    flex-wrap: wrap;
    background: white;
    color: black;
    text-shadow: #000428;
}

/* .img {
    align-self: flex-start;

} */

.img img {
    width: 10rem;
    height: 10rem;
    position: -webkit-sticky;

}

.text-flex {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 35%;
    font-size: 1rem;
    align-self: center;
}


.detailsBox {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
}

.link {
    display: none;
}